body {
  margin: 0;
}

.App {
  align-items: center;
  background-color: #F1F1E6;
  opacity: 1;
  -webkit-animation: fadein 0.2s ease-in;
  -moz-animation: fadein 0.2s ease-in;
  -o-animation: fadein 0.2s ease-in;
  animation: fadein 0.2s ease-in;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.site-layout .site-layout-background {
  background: #ffffff;
}

.slick-list {
  height: 100%;
}

.ProjectsContainer {
  max-width: 768px;
  margin: auto;
}
