.Header-carousel {
  margin-top: 64px;
  width: 100%;
  height: auto;
}

.Carousel-img-wrapper {
  height: 35vw;
}

.Image-text {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top: 18vw;
  left: 0;
}

.Image-subtext {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 24vw;
  left: 0;
  z-index: 2;
}

.Text-span {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .Carousel-img-wrapper {
    height: 70vw;
  }
}
