.Header-carousel {
  height: 100vh;
  min-height: 100vh;
}

.Background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.Carousel-text-wrapper {
  background-color: transparent;
  height: 100vh;
}

.Image-text {
  font-size: clamp(0.1rem, 4vw, 3rem);
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.Image-subtext {
  font-size: clamp(0.7rem, 2vw, 2.6rem);
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.Text-span {
  color: white;
  padding: 8px;
}

.Start-button {
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Carousel-text-wrapper {
    height: 100vh;
  }

  .Image-text {
    font-size: clamp(1.2rem, 4vw, 3rem);
  }

  .Image-subtext {
    font-size: clamp(0.7rem, 1.6vw, 2em);
    top: 45%;
  }

  .Text-span {
    padding: 3px;
  }

  .Start-button {
    font-size: 1.5rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
