.Page-header {
    position: absolute;
    background-color: transparent !important;
    z-index: 3;
    width: 100%;
    padding: 0.5vw 1.5vw;
    height: max-content;
}

.fixed {
    position: fixed;
    background-color: #00334e !important;
    -webkit-animation: fadein 0.5s ease-in;
    -moz-animation: fadein 0.5s ease-in;
    -o-animation: fadein 0.5s ease-in;
    animation: fadein 0.5s ease-in;
}

.Logo-title {
  color: white;
  font-family: "Sedgwick Ave", sans-serif;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .ant-layout-header.Page-header {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .Logo-title {
        font-size: 1.5rem;
    }
}

