.Project-item {
    margin: 1%;
    list-style-type: none;
}

.Project {
    text-align: start;
    margin-top: 25px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    border: 1px solid #111111;
    box-shadow: #7f7f7f;
    padding: 1%;
}
